*.orig
*~
*.o
*.so
*.mod
*.pyc
*.kate-swp

*.aux
*.log
*.out
*.toc
*.lof
*.fff
*.ttt
*.nav
*.snm
*.bbl
*.blg
*.backup

*.eps
*.ps
*.pdf
*.jpg
*.tif
*.tiff
*.png
*.zip
*.gz
*.bz2
*.bz
*.tgz
*.tar

*.nc

Articles/
archive/
data/
figures/
.settings/
bin/
test/
gmon/.out

Python/dataset/test.txt
Python/queue-test.txt
